*.csv
*.asv
*.flac
*.xlsx
*.wav
*.pdf
*.html
*.mat
*.json
*.png
*.zip
*.fig
*.au
*.aup
*.bak
*.rtf
*.pyc
*.bak
*.log
*.mp4
*.DS_Store

.ipynb_checkpoints

lib/CritiasStress/ECG-PPG/*
lib/CritiasStress/LSL/*
lib/CritiasStress/GUIP3/*
local_data/*
__pycache__/
